<?xml version="1.0"?>
<launch>

    <arg name = "robot_name"   default = "ur5_"/>
    <arg name = "node_name"   default = "hand_"/>


    <!-- Trajectory controller -->
    <rosparam file="$(find ur10_sim)/config/arm_controller.yaml" command="load" subst_value="True"/>

    <!-- <node name="$(arg robot_name)arm_ctrl_spwn"  pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg robot_name)arm_controller" /> -->
    <node name="$(arg robot_name)arm_ctrl_spwn_1" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--stopped $(arg node_name)arm_controller" />
    <node name="$(arg robot_name)arm_ctrl_spwn"  pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg node_name)joint_group_pos_controller" />


</launch>